*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgb(23, 16, 16);
}

.game-heading {
  text-align: center;
  background-color: rgb(228, 25, 7);
}
.game-heading:hover{
  background-color: #0049B7;
}

h1 {
  text-align: center;
  padding: 2vh 0;
}

.user-options {
  display: flex;
  justify-content: center;
  gap: 8vw;
  padding: 4vh 0;
}

.user-options button {
  background-color: transparent;
  border: none;
  font-size: 150px;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 8px;
  cursor: pointer;
}
